<div class="card">
  <div class="card-body"
    *ngIf="todo"
    [class.done]="todo.status =='done'"
    [class.selected]="todo.selected"
    [class.loading]="todo.loading"
    [class.editing]="todo.editing"
    [class.edited]="todo.edited"
    [class.error]="todo.error"
  >
    <div class="row">
      <ng-container *ngIf="!todo.create && !todo.editing">
        <div class="todo-title">
          <p>{{todo.title}}</p>
        </div>
        <div class="todo-description">
          <p>{{todo.description}}</p>
        </div>
      </ng-container>
    </div>

  </div>
</div>
